@font-face {
    font-family: Gilroy-Light;
    font-weight: 400;
    font-style: normal;
    src: url(Gilroy-Light.eot);
    src: url(Gilroy-Lightd41d.eot?#iefix) format("embedded-opentype"), url(.Gilroy-Light.woff) format("woff"), url(.Gilroy-Light.ttf) format("truetype");
}
